*{
    padding: 0;
    margin: 0;
    background: #FEE3EC;
    font-family: Tahoma;
    color: #F2789F;
}
.content-login{
    width: 50%;
    margin: auto;
    border: 1px solid #FEE3EC;
    margin-top: 13%;
    border-radius: 4px;
}
.input{
    width: 100%;
    height: 20px;
    border: #d9d9d9;
    border-bottom: 1px solid #FEE3EC;
    background: #FFF;
    margin-top: 16px;
}
.text-area{
    width: 100%;
    height: 50px;
    border: #d9d9d9;
    border-bottom: 1px solid #FEE3EC;
    background: #FFF;
    margin-top: 16px;
}
.right{
    float: right;
}
.submit{
    padding: 12px 14px;
    background: #F2789F;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid #F2789F;
    margin-top: 16px;
    transition: .3s;
}
.submit:hover{
    background: #F999B7;
    color: #fff;
}
.container{
    width: auto;
}
.kiri{
    float: left;
    background: #F2789F;
    width: 240px;
    height: 100%;
    position: fixed;
}
.kiri ul{
    margin-top: 64px;
}
.kiri ul a li{
    display: block;
    padding: 16px;
    text-align: center;
    color: #fff;
    background: #F2789F;
}
.kiri ul a{
    text-decoration: none;
}
.kiri ul a li:hover{
    background: #F999B7;
    color: #fff;
}
.kanan{
    float: right;
    width: 60%;
    border: 1px solid #f1f1f1;
    height: 768px;
    margin-right: 150px;
}
.table th{
    padding: 8px;
    background: #F2789F;
    color: #fff;
}
.table td{
    padding: 4px;
}